.ttr-whats-happening {
  color: black;
}

.ttr-whats-happening h2 {
  font-size: 20px;
  font-weight: bold;
}

.ttr-whats-happening h3,
.ttr-whats-happening h4 {
  font-size: 10px;
  font-weight: 400;
  color: gray;
}

.ttr-whats-happening h4 {
  margin-top: 10px;
}

.ttr-whats-happening .ttr-post {
  font-weight: bold;
}

.ttr-column-right {
  width: 70px;
  padding-left: 10px;
}

.ttr-whats-happening-tuit {
  display: flex;
  margin-bottom: 20px;
}

.ttr-whats-happening-tuit .ttr-user-logo {
  width: 68px;
  border-radius: 15px;
}

.ttr-whats-happening .ttr-gray-background {
  background-color: #eeeeee;
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
}

.ttr-whats-happening .ttr-search {
  position: relative;
}
.ttr-whats-happening .ttr-search .fas.fa-search {
  position: absolute;
  top: 15px;
  left: 17px;
}
.ttr-whats-happening .ttr-search input {
  background-color: #eeeeee;
  height: 40px;
  padding-left: 40px;
  width: 100%;
  border: none;
  border-radius: 20px;
}

.ttr-tuit-body {
  font-weight: bold;
}
